<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col size="2">
      </ion-col>
      <ion-col size="8" class="ion-text-center">
        <div class="centered-text">
          Item Tracker
        </div>
      </ion-col>
      <ion-col size="2">
        <ion-menu-button></ion-menu-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <ion-item *ngFor="let item of items; let i = index">
    <ion-input [(ngModel)]="item.name" placeholder="Item" (input)="updateTotal()"></ion-input>
    <ion-input [(ngModel)]="item.price" placeholder="Price" type="number"
               (ionFocus)="clearPrice(item)" (ionBlur)="resetPrice(item)"
               (input)="updateTotal()"></ion-input>
    <ion-input [(ngModel)]="item.quantity" placeholder="Quantity" type="number"
               (ionFocus)="clearQuantity(item)" (input)="updateTotal()"></ion-input>
    <ion-label>{{ item.price * item.quantity | currency: 'PHP' }}</ion-label>
    <ion-icon name="trash" slot="end" (click)="deleteItem(i)"></ion-icon>
  </ion-item>  

  <ion-item>
    <ion-button expand="full" (click)="addItem()">Add Item</ion-button>
  </ion-item>

  <ion-item>
    <ion-label>Total Amount:</ion-label>
    <ion-label>{{ totalAmount | currency: 'PHP' }}</ion-label>
  </ion-item>
</ion-content>